.login-container{
    width: fit-content;
    margin:30px auto;
    padding: 20px 50px;

}
.login-btn{
    display: block;
    margin: 20px auto;
    width: 150px;
}
.link-text{
    margin-left: 10px;
    color: blue;
}

